video{
    width: 30%;
}
nav > ul >li{
    display: inline;
    margin-right: 20px;
}
nav li > a{
    text-decoration: none;
}
td{
    border: 1px solid black;
    padding: 10px;
}
table{
    border-collapse: collapse;
}